@model UsersFeedback
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>Feedback</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @if (TempData["Message"] != null)
        {
        <h4 style="color:green;">Feedback Submitted Successfully!</h4>
        }
        @using (Html.BeginForm("SubmitFeedback", "Customer", new { id = Model.RowKey }, FormMethod.Post))
        {
        @*<form asp-action="SubmitFeedback">*@
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label class="control-label">Your Full Name</label>
            <input asp-for="Name" class="form-control" required />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Email</label>
            <input asp-for="Email" class="form-control" required />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="control-label">Choose Company</label>
            <select name="company" id="company" class="form-control" asp-items="@ViewBag.company"></select>

        </div>

        <div class="form-group">
            <label class="control-label">Feedback</label>
            <textarea class="form-control" asp-for="Feedback" required rows="5"></textarea>
            <span asp-validation-for="Feedback" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary" />

        </div>
        @*</form>*@
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
